{
  opster.mclb: {
    port: "{{ opster_mclb_port }}",
    healthChecker:{
            threadPool: 1,
            periodInMilliSeconds: 1000
        }
    route: {
      userParameter:"X-User-Id"
    }

    backends: [
      {
        id: 1,
        url: "{{ opster_mclb_backend_url }}",
        default: true
      }
    ],

  "searchGateway": {
    "heavySearchCostThreshold": 1000,
    "slowSearchTimeInMilliThreshold": 1000,
    "features": {
      "regex": {
        "cost": 100,
        "factors": {
          "HEAVY": 3,
          "MEDIUM": 2,
          "LIGHT": 1
        },
        "classifier": {
          "type": "string",
          "config": {
            "contains": {
              "cost": 10,
              "values": [
                "*",
                ".*"
              ]
            },
            "startsWith": {
              "cost": 100,
              "values": [
                ".*",
                "*"
              ]
            },
            "pattern": {
              "cost": 100,
              "values": [
                ":\\s?\\*[^\\s\"]"
              ]
            }
          },
          "thresholds": {
            "HEAVY": {
              "gte": 100
            },
            "MEDIUM": {
              "gt": 10,
              "lt": 100
            },
            "LIGHT": {
              "lte": 10
            }
          }
        }
      },
      "data": {
        "cost": 1,
        "factors": {
          "HEAVY": 3,
          "MEDIUM": 2,
          "LIGHT": 1
        },
        "classifier": {
          "type": "math",
          "config": {
            "expression": {% raw %}"{{size}}"{% endraw %}
          },
          "thresholds": {
            "HEAVY": {
              "gt": 1000
            },
            "MEDIUM": {
              "gt": 100,
              "lte": 1000
            },
            "LIGHT": {
              "lte": 100
            }
          }
        }
      },
      "range": {
        "cost": 1,
        "factors": {
          "HEAVY": 1001,
          "MEDIUM": 500,
          "LIGHT": 1
        },
        "classifier": {
          "type": "math",
          "config": {
            "expression": {% raw %}"{{duration}}"{% endraw %}
          },
          "thresholds": {
            "HEAVY": {
              "gte": 86400000
            },
            "MEDIUM": {
              "gt": 21600000,
              "lt": 86400000
            },
            "LIGHT": {
              "lte": 21600000
            }
          }
        }
      },
      "aggregation": {
        "cost": 100,
        "factors": {
          "HEAVY": 3,
          "MEDIUM": 2,
          "LIGHT": 1
        },
        "classifier": {
          "type": "math",
          "config": {
            "expression": {% raw %}"({{level}} * {{size}}) * (1 * (1 + {{hasScripts}}))"{% endraw %}
          },
          "thresholds": {
            "HEAVY": {
              "gt": 100000
            },
            "MEDIUM": {
              "gt": 1000,
              "lte": 100000
            },
            "LIGHT": {
              "lte": 1000
            }
          }
        }
      },
      "script": {
        "cost": 100,
        "factors": {
          "HEAVY": 3
        },
        "classifier": {
          "type": "math",
          "config": {
            "expression": {% raw %}"{{hasScript}}"{% endraw %}
          },
          "thresholds": {
            "HEAVY": {
              "gte": 1
            }
          }
        }
      }
    }
  }
  }
}