<configuration>
<appender name="elasticsearch" class="com.opster.mclb.infrastructure.logs.ElasticSearchAppender">
    <protocol>{{ opster_sgw_logger_url.protocol }}</protocol>
    <host>{{ opster_sgw_logger_url.host }}</host>
    <port>{{ opster_sgw_logger_url.port }}</port>
    <index>{{ opster_sgw_logger.index }}</index>
    <batchSize>{{ opster_sgw_logger.batch_size }}</batchSize>
    <docType>{{ opster_sgw_logger.doc_type }}</docType>
    <batchTimeoutInMilliseconds>{{ opster_sgw_logger.batch_timeout }}</batchTimeoutInMilliseconds>
    <retry>{{ opster_sgw_logger.retry }}</retry>
    {% if opster_sgw_logger.auth.username is defined and opster_sgw_logger.auth.password is defined %}
    <username>{{ opster_sgw_logger.auth.username }}</username>
    <password>{{ opster_sgw_logger.auth.password }}</password>
    {% endif %}
</appender>
<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
  <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
  <logger name="elasticsearch_logger" level="info">
      <appender-ref ref="elasticsearch" />
  </logger>
  <root level="info">
      <appender-ref ref="console"/>
  </root>
</configuration>
